.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
  
}

p{
  color: white;
  text-shadow: white 1px 0 10px;
  width: 348px;
  height: 180px;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: white solid 1px;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(0.4);
  font-weight: 400;
}

.btn{
  min-height: 75px;
  width: 150px;
  margin: 0 1rem 3rem;
  padding: 0.5rem;
  filter: blur(0.5);
  font-weight: 400;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover{
  color: white;
  background-color: black;
}

.footer{
  margin: 1rem 1rem 0rem;
  padding: 1rem;
  align-items: center;
  border-radius: 1rem;
  background-color: blanchedalmond;
  font-weight: 400;
  font-size: 50px;
}