@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&family=Rajdhani:wght@300;400;600&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: 'Rajdhani', sans-serif;
}




